<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Class</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Edit Class</h2>
    <form method="POST">
        <div class="form-group">
            <label for="name">Class Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ gym_class.class_name }}" required>
        </div>
        <div class="form-group">
            <label for="instructor">Instructor ID</label>
            <input type="text" class="form-control" id="instructor" name="instructor" value="{{ gym_class.instructor }}" required>
        </div>
        <div class="form-group">
            <label for="start">Start</label>
            <select class="form-control" id="start" name="start" required>
                {% for time_24, time_12 in time_options %}
                <option value="{{ time_24 }}" {% if time_24 == gym_class.start_time %}selected{% endif %}>
                    {{ time_12 }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="end">End</label>
            <select class="form-control" id="start" name="start" required>
                {% for time_24, time_12 in time_options %}
                <option value="{{ time_24 }}" {% if time_24 == gym_class.end_time %}selected{% endif %}>
                    {{ time_12 }}
                </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{{ url_for('manage_classes') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
